@import "modules/_variables.scss";
@import "modules/_fonts.scss";
@import "modules/_header.scss";
@import "modules/_nav.scss";
@import "modules/_aside.scss";
@import "modules/_main.scss";
@import "modules/_footer.scss";

.background {
    height: 600px;
    width: 100%;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(#ced7d9, #ffffff);
    background: -moz-linear-gradient(#ced7d9, #ffffff);
    background: -ms-linear-gradient(#ced7d9, #ffffff);
    background: -o-linear-gradient(#ced7d9, #ffffff);
    background: linear-gradient(#ced7d9, #ffffff);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
    width: 776px;
    margin: 0 auto;
}
