@font-face {
    font-family: Helios;
    src: url("../fonts/HeliosExtThin-webfont.eot"),
    url("../fonts/HeliosExtThin-webfont.ttf"),
    url("../fonts/HeliosExtThin-webfont.woff"),
    url("../fonts/HeliosExtThin-webfont.woff2");
}
@font-face {
    font-family: afklampenborg;
    src: url("../fonts/afklampenborg-medium-webfont.eot"),
    url("../fonts/afklampenborg-medium-webfont.ttf"),
    url("../fonts/afklampenborg-medium-webfont.woff"),
    url("../fonts/afklampenborg-medium-webfont.woff2");
}